# Byte compiled
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# VSCode
.vscode/

# Conda
.conda/

# Jupyter
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/